<div class="row">

    <div class="col-12 mt-3">
        <label for="todoName" class="form-label">Nazwa</label>
        <input type="text" class="form-control" [(ngModel)]="dane.name" id="todoName" placeholder="nazwa">
      </div>

    <div class="col-12 mt-3">
        <label for="todoDescription" class="form-label">Opis</label>
        <textarea class="form-control" [(ngModel)]="dane.description"  id="todoDescription" placeholder="opis"></textarea>
      </div>

    <div class="col-md-6 mt-3">
        <label for="todoPrority" class="form-label">Priorytet</label>
        <select type="text" [(ngModel)]="dane.prority" class="form-select" id="todoPrority">
            <option *ngFor="let option of serwis.Prority" selected="" [value]="option.id">{{option.name}}</option>
        </select>

      </div>
    <div class="col-md-6 mt-3">
        <label for="todoStatus" class="form-label">Status</label>
        <select type="text" [(ngModel)]="dane.status" class="form-select" id="todoStatus">
            <option *ngFor="let option of serwis.Status" selected="" [value]="option.id">{{option.name}}</option>
        </select>

      </div>

      <div class="col-md-6 mt-3">
        <label for="todoStartDate" class="form-label">Data rozpoczęcia</label>
        <input type="date" class="form-control" [value]="startDate" (change)="startDateChange($event)" id="todoStartDate">
      </div>
      <div class="col-md-6 mt-3">
        <label for="todoEndDate" class="form-label">Data zakończenia</label>
        <input type="date" class="form-control" [value]="endDate" (change)="endDateChange($event)" id="todoEndDate">
      </div>
     <div class="col-md-12">
      <div class="form-check form-switch mt-3">
        <input class="form-check-input" type="checkbox" [(ngModel)]="dane.active" role="switch" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Aktywność</label>
      </div>
     </div> 
    <div class="col-12 mt-3">
        <div class="justify-content-end d-flex">
            <button class="btn btn-primary" (click)="dodaj()">{{ dane.id>0 ? 'Zmień' : 'Dodaj' }}</button>
        </div>
    </div>
</div>